body * {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

div.container {
	width: 970px;
	height: auto;
}

.page-bun {
	width: 960px;
	height: 60px;
	padding: 5px;
	align-items: center;
	background-color: ghostwhite;
}

.card-header {
	padding: 10px;
	font-weight: bold;
	color: white;
	background: #B2B1B5;
	background: -moz-linear-gradient(top, #B2B1B5 0%, #878593 50%, #B2B1B5 100%);
	background: -webkit-linear-gradient(top, #B2B1B5 0%, #878593 50%, #B2B1B5 100%);
	background: linear-gradient(to bottom, #B2B1B5 0%, #878593 50%, #B2B1B5 100%);
}

section.card {
	background: #FBFBFB;
	background: -moz-linear-gradient(left, #FBFBFB 0%, #DACBD9 100%, #dacbd9 100%);
	background: -webkit-linear-gradient(left, #FBFBFB 0%, #DACBD9 100%, #dacbd9 100%);
	background: linear-gradient(to right, #FBFBFB 0%, #DACBD9 100%, #dacbd9 100%);
}

div.container header {
	display: flex;
	justify-content: space-between;
}

	header h1 {
		margin-left: 20px;
		margin-bottom: 5px;
		display: inline-block;
		color: #000;
		font-family: cursive;
	}

	header h2 {
		margin-right: 40px;
		display: inline-block;
		color: #000;
	}

div.container main {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	padding: 12px;
	background: #6f5964;
	background: -moz-radial-gradient(center, #6f5964 0%, #48353d 50%, #1a0a0e 100%);
	background: -webkit-radial-gradient(center, #6f5964 0%, #48353d 50%, #1a0a0e 100%);
	background: radial-gradient(elipse at center, #6f5964 0%, #48353d 50%, #1a0a0e 100%);
}

	main div {
		margin: 13px;
		display: flex;
		align-content: space-between;
		justify-content: space-between;
	}

	div.profile img {
		width: 410px;
		height: auto;
		border: 5px solid silver;
	}

	div.profile section.about {
		width: 475px;
		height: auto;
	}

		section.about p {
			padding: 10px;
		}

		section.about a {
			padding: 10px;
			color: #000;
		}

	div.showcase section.example {
		width: 290px;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
		section.example .card-header {
			width: 270px;
		}

		section.example img.screenshot {
			width: 290px;
			height: 160px;
		}

		section.example p {
			width: 270px;
			height: 140px;
			padding: 10px;
			font-size: 14px;
			text-align: justify;
			text-justify: distribute;
		}

		section.example ul.tech-list {
			padding: 5px;
			display: flex;
			flex-wrap: wrap;
		}

			ul.tech-list li {
				list-style: none;
				margin: 5px;
			}

				li img.tech-icon {
					width: 46px;
					height: 46px;
				}

		section.example a {
			width: fit-content;
			border: 1px solid black;
			border-radius: 5px;
			padding: 5px;
			margin-bottom: 20px;
			display: block;
			background-color: green;
			color: white;
			text-decoration: none;
		}

footer p {
	text-align: center;
}

footer ul {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

	footer ul li {
		display: inline;
		list-style: none;
	}

li a.social-media {
	display: flex;
	align-items: center;
	font-style: italic;
	color: #000;
}

	li a.social-media img {
		width: 20px;
		height: 20px;
		margin: 5px;
	}